name: ROS2 Continuous Integration

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: humble}
          - {ROS_DISTRO: jazzy}
          - {ROS_DISTRO: kilted}
          - {ROS_DISTRO: rolling}
    env:
      UPSTREAM_WORKSPACE: github:loco-3d/linear-feedback-controller-msgs#main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: 'ros-industrial/industrial_ci@0f4bd2d1b926eac95fd6bc5bd1fcb3051a6e927d'
        env: ${{ matrix.env }}

  check:
    if: always()
    name: check-ros-ci
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
